<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Band Template</title>
  <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://www.brandbucket.com/sites/default/files/logo_uploads/311276/large_peppydoggy.png" alt="Bulma: a modern CSS framework based on Flexbox" width="100" height="200">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="room-page">
        My Room
      </a>
      <a class="navbar-item" href="urban-space-page">
        Public Plaza
      </a>
      <a class="navbar-item" href="multi-player-page">
        Multiplayer Game
      </a>
      <a class="navbar-item" href="vr_tests">
        VRTestPage
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="Search . . .">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">Personal Page</h1>
    <p>This page is visible after login</p>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-2">WebVR Pages</h2>

    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-4by3">
            <img src="../../../static/street.png">
          </figure>
          <p class="title">My Room</p>
          <p class="subtitle">Sample A-Frame Scene</p>
          <a class="button" href="room-page">Launch</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-4by3">
            <img src="../../../static/street.png">
          </figure>
          <p class="title">Public Plaza</p>
          <p class="subtitle">Urban Space with buttons</p>
          <a class="button" href="urban-space-page">Launch</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-4by3">
            <img src="../../../static/street.png">
          </figure>
          <p class="title">Multiplayer</p>
          <p class="subtitle">Connect multiple devices</p>
          <a class="button" href="multi-player-page">Launch</a>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <figure class="image is-4by3">
            <img src="../../../static/street.png">
          </figure>
          <p class="title">Other Tests</p>
          <p class="subtitle">For testing</p>
          <a class="button" href="vr_tests">Launch</a>
          <%= user.email%>
        </article>
      </div>
    </div>
  </div>
</section>

</body>

<%- include('../partials/footer') %>

</html>