<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Band Template</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F18PGRRZG5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-F18PGRRZG5');
    </script>
</head>

<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="sign-in">
                <img src="../../../static/logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="50" height="200">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="room-page">
                    My Room
                </a>
                <a class="navbar-item" href="urban-space-page">
                    Public Plaza
                </a>
                <a class="navbar-item" href="multi-player-page">
                    Multiplayer Game
                </a>
                <a class="navbar-item" href="vr_tests">
                    VRTestPage
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/documentation/overview/start/">
                        More
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/documentation/overview/start/">
                            Gifts
                        </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                            Extras
                        </a>
                        <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                            Media
                        </a>
                    </div>
                </div>
                </a>
                <a class="button is-info" href="sign-up">
                    Sign Up
                </a>
            </div>
            
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Search . . .">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero">
        <figure class="image">
            <img src="../../../static/landing1.png">
        </figure>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-1">Our Product</h1>
            <img src="../../../static/logo.png" width="500" height="2500">
            <p>Spazio is a social platform that allows users to communicate in real-time 3D virtual chat rooms with their 3D avatars. It provides a completely customizable virtual social hub that reimagines the future of social interaction with the impact of VR technology.
              
              </p>
            <img src="">
            <div class="columns is-centered" style="padding: 2rem">
              <div class="column">
                  <div class="card">
                      <div class="card-image">
                          <figure class="image is-1by1">
                              <img src="../../../static/jobs.png" alt="Placeholder image">
                          </figure>
                      </div>
                      <div class="card-content">
                          <div class="media">
                              <div class="media-content">
                                  <p class="title is-4">Steve Jobs is launching iPhone15</p>
                                  <p class="subtitle is-6">@stevejobs</p>
                              </div>
                          </div>

                          <div class="content">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                              <a>@bulmaio</a>.
                              <a href="#">#css</a>
                              <a href="#">#responsive</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="column">
                  <div class="card">
                      <div class="card-image">
                          <figure class="image is-1by1">
                              <img src="../../../static/mark.png" alt="Placeholder image">
                          </figure>
                      </div>
                      <div class="card-content">
                          <div class="media">
                              <div class="media-content">
                                  <p class="title is-4">Mark Zuckerberg: Facebook or Fakebook?</p>
                                  <p class="subtitle is-6">@mfinkd</p>
                              </div>
                          </div>

                          <div class="content">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                              <a>@bulmaio</a>.
                              <a href="#">#css</a>
                              <a href="#">#responsive</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="column">
                  <div class="card">
                      <div class="card-image">
                          <figure class="image is-1by1">
                              <img src="../../../static/street.png" alt="Placeholder image">
                          </figure>
                      </div>
                      <div class="card-content">
                          <div class="media">
                              <div class="media-content">
                                  <p class="title is-4">Web3.0 Talk</p>
                                  <p class="subtitle is-6">@CornellTech</p>
                              </div>
                          </div>

                          <div class="content">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                              <a>@bulmaio</a>.
                              <a href="#">#css</a>
                              <a href="#">#responsive</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="columns is-centered" style="padding: 2rem">
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="../../../static/cyber.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Meet new friends!</p>
                                    <p class="subtitle is-6">@Serena123</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a href="#">#css</a>
                                <a href="#">#responsive</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="../../../static/party.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Party with Taylor Swift</p>
                                    <p class="subtitle is-6">@BenjaminLee</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a href="#">#css</a>
                                <a href="#">#responsive</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="../../../static/house.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Holiday house</p>
                                    <p class="subtitle is-6">@jeannelialbedo</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                                <a>@bulmaio</a>.
                                <a href="#">#css</a>
                                <a href="#">#responsive</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title is-1">Spazio Events</h2>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image is-1by1">
                            <img src="../../../static/meeting.png">
                        </figure>
                        <p class="title">New York</p>
                        <p class="subtitle">Nov 21 2022</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image is-1y1">
                            <img src="../../../static/meeting5.png">
                        </figure>
                        <p class="title">Shanghai</p>
                        <p class="subtitle">Mar 27 Nov 2022</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image is-1by1">
                            <img src="../../../static/meeting3.png">
                        </figure>
                        <p class="title">Hong Kong</p>
                        <p class="subtitle">May 5 2022</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image is-1by1">
                            <img src="../../../static/chat.png">
                        </figure>
                        <p class="title">Guangzhou</p>
                        <p class="subtitle">Oct 15 2022</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image is-1by1">
                            <img src="../../../static/meeting4.png">
                        </figure>
                        <p class="title">Tel Aviv</p>
                        <p class="subtitle">Apr 2 2022</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
            </div>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <figure class="image">
                            <img src="../../../static/toyota.png">
                        </figure>
                        <p class="title">Paris</p>
                        <p class="subtitle">Sep 23 2022</p>
                        <a class="button">Buy Tickets</a>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container has-text-centered">
            <h2 class="title">Contact</h2>

            <form>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="text" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" placeholder="Message us"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">
                                    Send message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-twitter-square fa-2x"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a href="">
                        <i class="fab fa-snapchat fa-2x"></i>
                    </a>
                </p>
                <p>
                    <a href="https://bulma.io">
                        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
                    </a>
                </p>
            </div>
        </div>
    </footer>
        <script src="../js/bulma.js"></script>
</body>

</html>