<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>

<body>
    <section class="hero is-success is-fullheight has-background-info">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-white">Sign In</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-white">Please sign in to proceed.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="../../../static/logo.png">
                        </figure>
                        <form id="login-form">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="login" placeholder="Your Email" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name="password" id="password" placeholder="Your Password">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                            <div id="login-error">

                            </div>
                        </form>
                    </div>
                    <p class="has-text-white">
                        <a href="sign-up">Sign Up</a> &nbsp;·&nbsp;
                        <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="../">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    const firebaseConfig = {
      // CS5356 TODO #2
      // Create your own Firebase project. See the assignment for
      // where you can get the Firebase config
      apiKey: "AIzaSyCg6hbfWJLkBlLhow2pTe-UmPAokB3M5pU",
      authDomain: "spazio-cornell.firebaseapp.com",
      projectId: "spazio-cornell",
      storageBucket: "spazio-cornell.appspot.com",
      messagingSenderId: "357010147944",
      appId: "1:357010147944:web:cc853de51f67db48cdc9dd",
      measurementId: "G-F18PGRRZG5"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        app.auth().signInWithEmailAndPassword(login, password)
                .then((userCredential) => {
                  // Signed in
                  userCredential.user.getIdToken().then(function(idToken){
                    //Set a session cookie to retore the user's idToken
                    fetch("/sessionLogin", {
                      method:"POST",
                      headers:{
                        "Content-Type": "application/json"
                      },
                      body: JSON.stringify({
                        idToken: idToken,
                        plan:"free"
                      })
                    }).then((response) => {
                      console.log('success!');
                      //window.location.assign('/dashboard')
                      window.location.href = '/dashboard';
                    }).catch((err) => {
                      window.location.assign('/sign-in')
                    })
                  })
                })
                .catch((error) => {
                  const errorCode = error.code;
                  const errorMessage = error.message;
                });
        return false;
      });
  };
</script>

</html>